body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
}

p {
    font-size: 20px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
}


.top-banner {
    background-image: url(images/donation1.jpg);
    background-size: cover;
    height: 500px;
    padding-top: 80px;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-left: 43%;

}